/*CSS Sara Cocktails.js*/
/***********************/
.navbar-brand{
    text-align: center;
}
.navbar-collapse{
    flex-grow: 0;
}
.nav-item{
    text-align: center;
    padding-left: 15px;
}

.nav-pills .nav-link.active {
    background-color: grey;
}

main {
    background-color: #e7e7e7;
}

.barImage{
    width: 70%;
    margin-bottom: 10px;
    border-radius: 15px;
}

.bodyBars{
    background-color: #e7e7e7;
}

.test{
    padding-left: 165px;
    padding-right: 175px;
}

.border{
    background-color: white;
    border-bottom: 10px;
    border-color: lightgray;
    padding-bottom: 20px;
    margin-bottom: 25px;
    border-radius: 15px;
    border-width: medium;
}

.linkImages{
    text-align: center;
    position: relative;
}

h1{
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 35px;
}


.hoverText{
    position: absolute;
    color:black;
    font-family: sans-serif;
    font-size:large;
    visibility: hidden;
    opacity: 0;
}

.linkImages:hover div{
    visibility: visible;
    opacity: 0.7; 
}

.linkImages:hover img {
    opacity: 0.4;
}

/*Responsiveness Cocktails.html */
@media screen and (max-width: 2500px){
    h1{
        text-align: center;
    }
    .hoverText{
        bottom: 150px;
        left: 290px;
    }

    .test{
        padding-left: 135px;
        padding-right: 125px;
    }

    .comment{
        flex-grow: 0.1;
        padding-left: 0;
        padding-right: 0;
    }

    .likes{
        flex-grow: 0.1;
        padding-right: 0;
    }

    .images{
        flex-grow: 0.1;
        padding-left: 0;
        padding-right: 0;
    }

    .res{
        padding-left: 2px;
    }

}

@media screen and (max-width: 1200px){
    .hoverText{
        bottom: 120px;
        left: 240px;
    }

    .test{
        padding-left: 95px;
        padding-right: 85px;
    }

    main {
        margin-top: 10px;
    }
}

@media screen and (max-width: 1000px){
    .nav-item{
        text-align: left;
        padding-left: 0px;
    }

    .nav-pills .nav-link.active {
        background-color: transparent;
    }

    .hoverText{
        bottom: 100px;
        left: 160px;
    }

    h1{
        font-size: 25px;
        text-align: center;
    }

    .test{
        padding-left: 75px;
        padding-right: 60px;
    }
}


@media screen and (max-width: 765px){
    h1{
        font-size: 20px;
        text-align: center;
    }

    .barImage{
        width: 90%;
        margin-bottom: 10px;
    }

    .hoverText{
        bottom: 70px;
        left: 100px;
    }

    .test{
        padding-left: 20px;
        padding-right: 10px;
    }

    main {
        margin-top: 20px;
    }
}

@media screen and (max-width: 550px){
    .test{
        padding-left: 10px;
        padding-right: 0px;
    }

    main {
        margin-top: 30px;
    }

    .border{
        width: 90%
    }
}

@media screen and (max-width: 480px){
    .hoverText{
        bottom: 55px;
        left: 80px;
    }
}

@media screen and (max-width: 400px){
    .hoverText{
        bottom: 55px;
        left: 70px;
        font-size: 15px;
    }
}

@media screen and (max-width: 380px){
    .hoverText{
        bottom: 50px;
        left: 60px;
        font-size: 15px;
    }
}

@media screen and (max-width: 380px){
    main {
        margin-top: 50px;
    }
}

/*************************/