.navbar-brand{
    text-align: center;
}
.navbar-collapse{
    flex-grow: 0;
}
.nav-item{
    text-align: center;
    padding-left: 15px;
}

.nav-pills .nav-link.active {
    background-color: grey;
}

body{
    background-color: #e7e7e7;
    padding-top: 120px;
}

#cockPic{
    width: 80%;
    border-radius: 15px;
}

#heart{
    height: 25px;
    width: 25px;
}


.container{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
}

.cocktail-details{
    background-color: lightgrey;
}

#likeButton{
    border: none;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}


#heading{
    padding-bottom: 15px;
    padding-right: 40px;
    padding-left: 40px;
}

#topRight{
    padding-right: 40px;
    font-weight: bold;

}

#topLeft{

    padding-left: 40px;
}
#bottom{
    padding-right: 40px;
    padding-left: 40px;
    font-weight: bold;
}

#ingredientsList{
    font-weight: lighter;
    font-size: 20px;

}

#ingredientsTag{
    font-weight: bold;
    font-size: 20px;

}
#randomCocktails{
    font-weight: bold;
}
#instructionsTag{
    font-weight: bold;
    padding-top: 20px;
}
#instructionsDiv{
    font-weight: lighter;
    font-size: 20px;
}

@media screen and (max-width: 1000px){
    .nav-item{
        text-align: left;
        padding-left: 0px;
    }

    .nav-pills .nav-link.active {
        background-color: transparent;
    }

    #cockPic{
        width: 100%;
        border-radius: 15px;
    }
}

@media screen and (max-width: 550px) {
    #cockPic{
        width: 70%;
        height: auto;
    }

    #topleft{
       flex-grow: 0;
       max-width: 100%;
       flex: 0 0 20%;
    }

    #topright{
        flex-grow: 0;
        max-width: 0%;
    }
}

@media screen and (max-width: 380px){
    main {
        margin-top: 50px;
    }
}






